<html>
<%
    var interview = (typeof global_query['interview'] !== 'undefined');
    var preurl = interview ? "&interview" : "";
    var presort = (typeof global_query['sort'] !== 'undefined') ? "&sort=" + global_query['sort'] : "";
%>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Marking Scripts</title>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/sb-admin.css" rel="stylesheet">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://cdn.oesmith.co.uk/morris-0.4.3.min.css">
    <link rel="stylesheet" href="css/mark.css">

	<!-- charting -->
	<script src="js/Chart.min.js"></script>
	<script src="js/Chart.StackedBar.js"></script>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img class="main-icon" src="images/shark-icon.png"/><span class="main-brand">Shark</span></a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <%if (!interview) {%>
            <li><a href="/?interview<%=presort%>"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Interview</a></li>
        	<li><a href="#" data-toggle="modal" data-target="#graph"><span class="glyphicon glyphicon-stats" aria-hidden="true"></span> Graph</a></li>
            <li><a href="export"><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span> Export</a></li>
            <%} else { %>
            <li><a href="/?<%=presort%>"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Mark</a></li>
            <%}%>
        </ul>
    </div>
</nav>

<div class="modal fade" id="graph">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Results</h4>
      </div>
      <div class="modal-body">
		<div style="padding:10px">
        	<canvas id="canvas" height="450" width="600"></canvas>
		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<%
// Add each of the practicals rows
for (var i = 0; i < global_prac.length; i++) {
    var prac_name = global_prac[i].name;
%>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"><%=prac_name%></h3>
    </div>
    <div class="panel-body">
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <td width="110px">
                    <a href="/?sort=number<%=preurl%>">
                        <% if (global_query['sort'] == "number") {%><span class="glyphicon glyphicon-sort-by-alphabet"></span><%}%>
                        Number
                    </a>
                </td>
                <td>
                    <a href="/?sort=name<%=preurl%>">
                        <% if (global_query['sort'] == "name") {%><span class="glyphicon glyphicon-sort-by-alphabet"></span><%}%>
                        Name
                    </a>
                </td>
                <td width="110px">
                    <a href="/?sort=status<%=preurl%>">
                        <% if (global_query['sort'] == "status") {%><span class="glyphicon glyphicon-sort-by-alphabet"></span><%}%>
                        Type
                    </a>
                </td>
                <%if (!interview) {%>
                    <td width="110px">
                        <a href="/?sort=marks<%=preurl%>">
                            <% if (global_query['sort'] == "marks") {%><span class="glyphicon glyphicon-sort-by-alphabet"></span><%}%>
                            Raw
                        </a>
                    </td>
                    <td width="110px">
                        <a href="/?sort=marks<%=preurl%>">
                            <% if (global_query['sort'] == "marks") {%><span class="glyphicon glyphicon-sort-by-alphabet"></span><%}%>
                            Result
                        </a>
                    </td>
                <%}%>
            </tr>
            </thead>
<%

    // Add each of the scripts
    var scripts = global_prac[i]['scripts'];

    // Sort scripts
    switch (global_query['sort']) {
        case "marks":
            scripts.sort(function(a, b){
                return a.mark - b.mark;
            })
            break;
        case "number":
            scripts.sort(function(a, b){
                return a.name.localeCompare(b.name);
            })
            break;
        case "name":
            scripts.sort(function(a, b){
                return a.student.localeCompare(b.student);
            })
            break;
        case "status":
            scripts.sort(function(a, b){
                return a.masters - b.masters;
            })
            break;
        default:
            break;
    }

    // Render scripts
    for (var s = 0; s < scripts.length; s++) {
        var script_name = scripts[s].name;
        var student_name = scripts[s].student;
        var masters = scripts[s].masters;
        var modified = scripts[s].modified;
        var mark = scripts[s].mark;
		var code = masters ? Math.ceil((mark / 13) * 10) : Math.ceil(mark);
		
        var tr_class = ""
        if (modified) {
            if (mark <= 4.0) tr_class = "danger";
            else if (mark <= 8.0) tr_class = "warning";
            else tr_class = "success";
            if (interview) {
                tr_class = "default";
            }
        }
        %>
            <tr class="<%=tr_class%>">
                <td>
                    <a href="/edit?prac=<%=prac_name%>&script=<%=script_name%><%=preurl%>"><%= script_name %></a>
                </td>
                <td>
                    <%=student_name%>
                </td>
                <td>
                	<%if (masters) {%>
                        Masters
                    <%} else {%>
                        Normal
                    <%}%>
                </td>
        <%if (modified && !interview) {%>
                <td>
                    <%=mark%>
                </td>
                <td>
                    <%=code%>
                </td>
        <%}%>
            </tr>
        <%
    }
%>
        </table>
    </div>
</div>
<%
}
%>

<!-- JavaScript -->
<script src="js/jquery-1.10.2.js"></script>
<script src="js/bootstrap.js"></script>

<script>
	var randomScalingFactor = function(){ return Math.round(Math.random()*100)};

	<%
		colours = ["rgba(255,0,0,0.5)","rgba(255,100,0,0.5)", "rgba(255,255,0,0.5)", "rgba(0,255,0,0.5)","rgba(0,255,255,0.5)","rgba(0,0,255,0.5)"];
		colours_down = ["rgba(255,0,0,0.8)","rgba(255,100,0,0.8)", "rgba(255,255,0,0.8)", "rgba(0,255,0,0.8)","rgba(0,255,255,0.8)","rgba(0,0,255,0.8)"];
		datasets = [];

		// Create a dataset for each practical
		for (var i = 0; i < global_prac.length; i++) {
						var prac_name = global_prac[i].name;
			var scripts = global_prac[i]['scripts'];
			var data = [0,0,0,0,0,0,0,0,0,0,0];
			for (var s = 0; s < scripts.length; s++) {
		        var masters = scripts[s].masters;
		        var modified = scripts[s].modified;
		        var mark = scripts[s].mark;

				if (!modified) continue;

				// this formula really needs to be in a function...
				var code = masters ? Math.ceil((mark / 13) * 10) : Math.ceil(mark); 
				data[code]++;
			}
			
			datasets.push({
				fillColor : colours[i],
				strokeColor : "rgba(220,220,220,0.8)",
				highlightFill: colours_down[i],
				highlightStroke: "rgba(220,220,220,1)",
				data : data
			});
		}
		var js = JSON.stringify(datasets);
	%>

	var barChartData = {
		labels : ["0","1","2","3","4","5","6","7","8","9","10"],
		datasets : <%-js%>
	};
	$('#graph').on('shown.bs.modal', function (event) {
		var ctx = document.getElementById("canvas").getContext("2d");
		window.myBar = new Chart(ctx).StackedBar(barChartData, {
			responsive : true
		});
	});;
</script>
</body>
</html>